{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "releaseRules": [
    { "type": "chore", "release": false },
    { "type": "docs", "release": false },
    { "type": "style", "release": false },
    { "type": "refactor", "release": false },
    { "type": "test", "release": false },
    { "type": "fix", "release": "patch" },
    { "type": "feat", "release": "minor" }
  ]
}
